* {
  font-family: 'Open Sans', sans-serif;}

.link  {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.814);
    font-weight: 500;
    margin-left: 20px;
    
  }
  .link:hover {
    color: #57C4C6;
  }
  .link.active  {
    text-decoration: none;
    color: #57C4C6;
    font-weight: 600;
  }
  .linkk {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.814);
    font-weight: 500;
    margin-right: 10px;
  }
 
